body { 
    background-color: #F2F6D0 
}

#wrapper {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

/* #articles {
    display: inline-flex;
    overflow: auto;
} */


textarea, input {
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #FCF5C7;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}

.card {
    width: 100%;
}

.card-header p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: large;
    letter-spacing: 0.4px;
}

#scrape,
#saved,
#home {
    margin-bottom: 30px;
}

#heading {
    margin-bottom: 30px;
}

button.close {
    font-size: 2.5rem;
    color: red;
    opacity: 1;
}

button.close:hover {
    opacity: 0.75;
    color: red;
}
